
<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #69696983;">
    <div class="container">

        <a class="navbar-brand text-white" routerLink="/listar"><i class="fa-solid fa-shop me-2"></i> <img src="assets/img/2.png"
                class="imagen-blanca"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon menu-icon"></span>
        </button>


        <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
        </div>
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase text-black" aria-current="page" routerLink="/listar">Listar los Datos del sistema</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase text-black" aria-current="page" routerLink="/principal">Formulario de ingreso de datos</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase text-black" (click)="cerrarSesion()"><i
                            class="bi bi-person-circle"></i> Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


